body{
  box-sizing: border-box;
  margin: 0;
}
.main{
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: all 0.3s;
}
button{
  border: none;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: #ffd900;
  color: #000;
}
button:hover{
  transform: scale(0.95);
  cursor: pointer;
  background-color: #637ef7;
  color: #fff;

}